
<link type="text/css" rel="stylesheet" href="/stylesheets/sbox.css" />
<script>
  function checkAll(obj){
    $("input[type='checkbox']").prop('checked',$(obj).prop('checked'));
  }
</script>
<body style="overflow-x: hidden;">
<div id="swrap" style="width: 780px;overflow-y: hidden;">
	<div class="btn_close">
    	<a href="#" onclick="javascript:top.Shadowbox.close();">閉じる</a>
    </div>
	<!-- InstanceBeginEditable name="swrap" -->
    <div class="pgTitle">
		<h2 class="f_l">店舖一覽</h2>
		<hr class="cb" />
	</div>
	<p>請輸入檢索條件。</p>
  <form method="post" action="/menus/shop_select">
	<div class="searchBox">
		<table>
			<tr>
				<th>店舗名：</th>
				<td><input type="text" value="<%= @name %>" name="name" id="menuName"/></td>
				<th>店鋪地址：</th>
				<td><input type="text" value="<%= @address %>" name="address"/></td>
				<th>電話：</th>
				<td><input type="text" value="<%= @phone %>" name="phone"/></td>
			</tr>
		</table>
		<p>
			<input type="submit" value="檢索" class="button button-raised button-highlight"/>
		</p>
	</div>
  </form>
	<div class="commonBox">
		<div class="pages mb10 clearfix">
			<div class="pg-info f_l">
				檢索結果：<font class="pg-num"><%= @shops.total_entries %></font>件
			</div>
			 <div class="pagination pagination-info f_r">
         <%= will_paginate @shops %>
			 </div>
		</div>
		<table class="list">
			<tr>
				<th><input type="checkbox" id="check" onclick="checkAll(this)"/><label for="check">全選</label></th>
				<th>店鋪名</th>
				<th>店鋪地址</th>
				<th>電話</th>
			</tr>
      <% if @shops.present? %>
        <% @shops.each do |shop| %>
          <tr>
            <td align="center"><input type="checkbox" name="shop_id" value="<%= shop.id %>_<%= shop.name %>"/></td>
            <td><%= shop.name %></td>
            <td><%= shop.address %></td>
            <td align="center"><%= shop.phone %></td>
          </tr>
        <% end %>
      <% else %>
        <tr><td colspan="4" align="center">該当するデータが見つかりません。</td></tr>
      <% end %>
		</table>
		<div class="pages mb10 clearfix">
			<div class="pg-info f_l">
				檢索結果：<font class="pg-num"><%= @shops.total_entries %></font>件
			</div>
			 <div class="pagination pagination-info f_r"> 
				<%= will_paginate @shops %>
			 </div>
		</div><br/>
	<div class="completeBtn" align="center">
						<input type="button" value="選択" onclick="check();javascript:top.Shadowbox.close();" class="button button-raised button-action"/>
					</div>
</div>
  </div>
</body>
<script>
  var parentCheck = window.parent.$('#valueReal').val();
  var checkId = document.getElementsByName("shop_id");
  for(var i=0;i<checkId.length;i++){
    var ch = checkId[i].value.split("_")[0];
    if(parentCheck.indexOf(ch)>=0){
      checkId[i].checked=true;
    }
  }
</script>
<script>
  var valueShop = new Array;
  var valueReal = new Array;
  var valueShow = new Array;
  function check(){
    var shop_id = document.getElementsByName("shop_id");
    for(var i=0;i<shop_id.length;i++){
      if(shop_id[i].checked){
        valueShop.push(shop_id[i].value);
      }
    };
    for(var i=0;i<valueShop.length;i++){
      valueShow.push(valueShop[i].split("_")[1]);
      valueReal.push(valueShop[i].split("_")[0]);
    }
    window.parent.$('#valueReal').val(valueReal);
    window.parent.$('#shopNameVal').val(valueShow);
  }
</script>