
<%= form_for(coupon,:html => {:multipart => true,method: "post"}) do |f| %>
    <%= hidden_field_tag "id",coupon.try(:id) %>
  <% if coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupon.errors.count, "") %> 個錯誤發生:</h2>

      <ul>
      <% coupon.errors.full_messages.each do |message| %>
        <li style="list-style: none;"><%= message.gsub(" ","") %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="pgTitle">
      <% if params[:action] == "new" || params[:action] == "create" %>
          <h2 class="f_l">優惠券追加</h2>
      <% else %>
          <h2 class="f_l">優惠券編輯</h2>
      <% end %>
      <div class="completeBtn">
        <% if params[:action] == "new" || params[:action] == "create" %>
          <input type="button" value="保存" onclick="isCouponPhone();return false;" class="button button-raised button-primary"/>
            <input type="button" value="取消" onclick="location.href='/coupons'" class="button button-raised button-primary" />
        <% else %>
            <input type="button" value="更新" onclick="isCouponEdit();return false;" class="button button-raised button-primary"/>
            <input type="button" value="取消" onclick="location.href='<%= coupon_path %>'" class="button button-raised button-primary" />
        <% end %>
      </div>
      <hr class="cb" />
    </div>
    <p class="mb10"><span class="star_shop">「※」</span>號表示的是必填項。</p>
    <div class="commonBox">
      <table class="tform">
        <tr>
          <th>優惠券名稱 <span class="star_span">※</span></th>
          <td>
            <%= f.text_field :name,:class => "w260" %>
          </td>
        </tr>
        <tr>
          <th>有效期限 <span class="star_span">※</span></th>
          <td>
            <div>
            <label for="from" style="cursor:pointer">
              <div>
                <div style="float: left;">
                  <% if params[:action] == "new" || params[:action] == "create" %>
                    <!--<input type="text" value="<%#= coupon.limit_from %>" id="coupon_limit_from" name="from" style="cursor:pointer" class="W100">-->
                      <%= f.text_field :limit_from,class:"W100",cursor:"pointer" %>
                  <% else %>
                    <%= f.text_field :limit_from,class:"W100",value:"#{@coupon.limit_from.strftime("%Y/%m/%d")}",readonly:true %>
                  <% end %>
                </div>
                <span style="line-height: 28px;">
                  &nbsp;<img style="vertical-align:middle" src="/images/calendar.png" alt="" /> ～
                </span>
              </div>
            </label>

            <label for="to" style="cursor:pointer">
              <div>
                <div style="float:left;">
                  <% if params[:action] == "new" || params[:action] == "create"  %>
                    <!--<input type="text" value="<%#= coupon.limit_to %>" id="coupon_limit_to" name="to" style="cursor:pointer" class="W100">-->
                      <%= f.text_field :limit_to,class:"W100",cursor:"pointer" %>
                  <% else %>
                    <%= f.text_field :limit_to,class:"W100",value:"#{@coupon.limit_to.strftime("%Y/%m/%d")}",readonly:true %>
                  <% end %>
                </div>
                <span style="line-height: 28px;">
                  &nbsp;<img style="vertical-align:middle" src="/images/calendar.png" alt="" />
                </span>
              </div>
            </label>
            </div>
          </td>
        </tr>
        <tr>
          <th>優惠券價格 <span class="star_span">※</span></th>
          <td>
            <div><div style="width:70px;float: left;"><%= f.text_field :price,:size => "5",onkeyup:"chkPrice(this)",onblur:"chkLast()" %></div> <span style="line-height: 28px;"> 元</span></div>
          </td>
        </tr>
        <tr>
          <th>發送對象 <span class="star_span">※</span></th>
          <td>
            <!--<input type='radio' name='coupon' checked="checked" />全体<input type='radio' name='coupon' />收藏用戶-->
            <%= f.radio_button(:send_object, "0",:checked => "checked") %>
            <%= f.label(:send_object, "全体") %>
            <%= f.radio_button(:send_object, "1") %>
            <%= f.label(:send_object, "收藏用戶") %>
          </td>
        </tr>
        <tr>
          <th>圖片 <span class="star_span">※</span></th>
          <td>
            <div id="img_preview"><%= image_tag coupon.get_attachment,:height => "80" %></div>
            <%#= file_field_tag "file_test", :onchange => "$.ajax('/shops/pre.js', {data: 'file_test='+this.value});" %>
            <%= file_field_tag "file_test", :onchange => "this.form.action='/shops/pre'; this.form.target='iframe'; this.form.submit();" %>

          </td>
        </tr>
        <tr>
          <th>店鋪名 <span class="star_span">※</span></th>
          <td>
            <input type="text" value="<%= coupon.get_shop_name.join(",") %>" class="w260" name="shop_name" id="shopNameVal" readonly="true" >
            <input type="hidden" value="<%= coupon.get_shop_id.join(",") %>" class="w260" name="shop_id" id="valueReal" />
            <input type="button" value="選擇" onclick="openWithSBox('/menus/shop_select.html','600','800');" class="button button-raised button-action button-tiny"/></td>
        </tr>
      </table>
    </div>
    <%#= f.submit %>
  </div>
<% end %>

<iframe name="iframe" style="display:none;"></iframe>
  <script type="text/javascript">
    function isCouponPhone(){
      var form = document.getElementById("new_coupon");
      form.action='/coupons';
      form.target='';
      form.submit();
    }

    function isCouponEdit(){
      var form = document.getElementById("edit_coupon_<%= @coupon.id %>");
      form.action='/coupons/update';
      form.target='';
      form.submit();
    }

    $(function() {
      $("#datepicker").datepicker();
    });
    $(function() {
      $( "#coupon_limit_from" ).datepicker({
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          $( "#coupon_limit_to" ).datepicker( "option", "minDate", selectedDate );
        }
      });
      $( "#coupon_limit_to" ).datepicker({
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          $( "#coupon_limit_from" ).datepicker( "option", "maxDate", selectedDate );
        }
      });
    });

  </script>




